* {
    margin: 0;
    padding: 0
}

input {
    -webkit-appearance: none;
    appearance: none
}

html {
    font-size: 100%;
    font-family: "Concourse", "Avenir", Helvetica, sans-serif
}

body {
    border-top: 5px solid #039BE5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    color: #0B0C0C
}

kbd {
    font-family: "Concourse", "Avenir", Helvetica, sans-serif;
    padding: 0.0625rem 0.5rem;
    border-radius: 0.125rem;
    border: 1px solid #0B0C0C;
    box-shadow: 1px 1px 0 currentColor, 1px 1px 0 currentColor
}

a:link,
a:visited {
    color: #0277BD
}

a:hover,
a:focus {
    text-decoration: none
}

a:focus {
    outline: 3px solid #ffd346
}

main {
    display: block
}

.heading {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F2F7F9
}

@media (min-width: 37.5em) {
    .heading {
        padding-top: 110px;
        padding-bottom: 110px
    }
}

.heading-measure {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px
}

@media (min-width: 77.5em) {
    .heading-measure {
        margin-left: auto;
        margin-right: auto
    }
}

.heading-label {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #788b9b;
    font-weight: bold;
    display: block
}

@media (min-width: 37.5em) {
    .heading-label {
        font-size: 1.25rem;
        line-height: 1.5625rem
    }
}

.heading-title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-family: "Concourse", "Avenir", Helvetica, sans-serif;
    max-width: 56.25rem;
    margin-bottom: 30px
}

@media (min-width: 37.5em) {
    .heading-title {
        font-size: 4.6875rem;
        line-height: 4.6875rem
    }
}

.heading-text {
    font-size: 1.375rem;
    line-height: 1.875rem;
    max-width: 800px
}

@media (min-width: 37.5em) {
    .heading-text {
        font-size: 1.5rem;
        line-height: 2.1875rem
    }
}

.content {
    padding-top: 50px;
    padding-bottom: 50px
}

@media (min-width: 37.5em) {
    .content {
        padding-top: 110px;
        padding-bottom: 110px
    }
}

.content-measure {
    max-width: 1200px;
    margin-left: 20px;
    margin-right: 20px
}

@media (min-width: 77.5em) {
    .content-measure {
        margin-left: auto;
        margin-right: auto
    }
}

@media (min-width: 64em) {
    .content-indent {
        padding-left: 120px
    }
}

.header-anchor:link,
.header-anchor:visited {
    color: #039BE5;
    text-decoration: none;
    font-weight: normal;
    position: relative
}

.header-anchor::after {
    content: '#'
}

.content h2 {
    font-size: 1.875rem;
    line-height: 1.875rem;
    margin-bottom: 20px;
    margin-top: 55px;
    font-family: "Concourse Caps", "Avenir", Helvetica, sans-serif;
    max-width: 620px
}

@media (min-width: 37.5em) {
    .content h2 {
        font-size: 2.8125rem;
        line-height: 2.8125rem;
        margin-top: 75px
    }
}

.content h2:first-child {
    margin-top: 0
}

.content h3 {
    font-size: 1.1875rem;
    line-height: 1.5625rem;
    font-family: "Concourse", "Avenir", Helvetica, sans-serif;
    margin-bottom: 5px;
    max-width: 620px
}

@media (min-width: 37.5em) {
    .content h3 {
        font-size: 1.4375rem;
        line-height: 2.1875rem;
        margin-top: 35px;
        margin-bottom: 10px
    }
}

.content h3:first-child {
    margin-top: 0
}

.content p {
    max-width: 620px;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    margin-bottom: 25px
}

@media (min-width: 37.5em) {
    .content p {
        font-size: 1.375rem;
        line-height: 2.1875rem;
        margin-bottom: 35px
    }
}

.content ul,
.content ol {
    max-width: 620px;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    margin-bottom: 25px
}

@media (min-width: 37.5em) {

    .content ul,
    .content ol {
        font-size: 1.375rem;
        line-height: 2.1875rem;
        margin-bottom: 35px
    }
}

.content ol li,
.content ul li {
    margin-left: 25px;
    margin-bottom: 15px
}

.content pre {
    overflow-x: scroll;
    font-family: "Concourse", "Avenir", Helvetica, sans-serif;
    color: #0B0C0C;
    background-color: #FFFDE6;
    margin-bottom: 25px;
    padding: 20px;
    max-width: 900px
}

@media (min-width: 37.5em) {
    .content pre {
        padding: 30px;
        margin-bottom: 35px
    }
}

@media (min-width: 64em) {
    .content pre {
        margin-left: -100px
    }
}

.content p code,
.content ul code,
.content li code {
    font-family: "Concourse", "Avenir", Helvetica, sans-serif;
    font-weight: 500
}

@media (min-width: 64em) {
    .content-block {
        display: flex;
        justify-content: space-between
    }
}

@media (min-width: 64em) {
    .content-block1 {
        width: 414px;
        margin-right: 104px
    }
}

.content-blockImage {
    max-width: 100%
}

@media (min-width: 64em) {
    .content-block2 {
        width: 890px
    }
}

@media (min-width: 64em) {
    .content-blockA {
        max-width: 890px
    }
}

@media (min-width: 64em) {
    .content-blockB {
        max-width: 414px;
        margin-left: 104px
    }
}

.content+.content {
    padding-top: 0
}

.content blockquote {
    font-style: italic;
    margin-bottom: 25px;
    padding: 0 20px 0 18px;
    color: #0B0C0C;
    border-left: 3px solid #0B0C0C
}

.content blockquote cite {
    font-weight: bold
}

.content-indent figure {
    margin-bottom: 45px;
    max-width: 900px
}

@media (min-width: 64em) {
    .content-indent figure {
        margin-left: -100px
    }
}

@media (min-width: 37.5em) {
    .content-indent .image--small figure {
        margin-left: 0
    }
}

figure img {
    margin-bottom: 5px;
    display: block
}

figcaption {
    font-size: 1rem;
    color: #545454;
    padding-top: 5px
}

@media (min-width: 37.5em) {
    figcaption {
        font-size: 1.125rem
    }
}


iframe {
    max-width: 620px;
    margin-bottom: 20px
}

/*
@media (min-width: 37.5em) {
    iframe {
        margin-left: -100px
    }
}
*/


.content pre code {
    font-family: "Concourse", "Avenir", Helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    overflow-x: auto
}

@media (min-width: 37.5em) {
    .content pre code {
        font-size: 1.375rem;
        line-height: 2.1875rem
    }
}

.content .publication-title {
    margin-bottom: 5px
}

.content .publication-meta {
    color: #545454;
    font-size: 1rem;
    line-height: 1.25rem
}

@media (min-width: 37.5em) {
    .content .publication-meta {
        font-size: 1.125rem
    }
}

.article-date {
    color: #788b9b;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Concourse Caps", "Avenir", Helvetica, sans-serif;
}

@media (min-width: 37.5em) {
    .article-date {
        font-size: 1.25rem
    }
}

.caseStudy-meta {
    color: #306175;
    font-size: 1.125rem;
    line-height: 1.5625rem
}

@media (min-width: 37.5em) {
    .caseStudy-meta {
        font-size: 1.25rem
    }
}

.article-signUp {
    margin-top: 50px
}

@media (min-width: 37.5em) {
    .article-signUp {
        margin-top: 100px
    }
}

.atom {
    display: inline-block;
    border: 1px solid #039BE5;
    padding: 2px 15px;
    margin-top: 30px;
    text-decoration: none;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold
}

.atom:hover {
    background-color: #F2F7F9
}

@media (min-width: 37.5em) {
    .header {
        border-bottom: 1px solid #E0E7E9
    }
}

.header-measure {
    max-width: 1200px
}

@media (min-width: 37.5em) {
    .header-measure:after {
        content: "";
        display: table;
        clear: both
    }
}

@media (min-width: 77.5em) {
    .header-measure {
        margin-left: auto;
        margin-right: auto
    }
}

.header-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    line-height: 30px;
    font-size: 24px;
    font-weight: bold;
    font-family: "Concourse", "Avenir", Helvetica, sans-serif;
}

.header-logo a {
    color: #0B0C0C;
    text-decoration: none
}

@media (min-width: 56.25em) {
    .header-logo {
        float: left;
        margin-top: 25px
    }
}

@media (min-width: 77.5em) {
    .header-logo {
        padding-left: 0
    }
}

.header-nav {
    border-top: 1px solid #E0E7E9;
    border-bottom: 1px solid #E0E7E9;
    padding-left: 5px;
    padding-right: 5px
}

@media (min-width: 56.25em) {
    .header-nav {
        float: right;
        border-top: none;
        border-bottom: none;
        margin-top: 15px
    }
}

.footer {
    background-color: #F2F7F9;
    padding-top: 25px;
    padding-bottom: 25px
}

@media (min-width: 37.5em) {
    .footer {
        padding-top: 50px;
        padding-bottom: 50px
    }
}

.footer-measure {
    max-width: 1200px;
    margin-left: 20px;
    margin-right: 20px
}

@media (min-width: 50em) {
    .footer-measure {
        overflow: hidden
    }
}

@media (min-width: 77.5em) {
    .footer-measure {
        margin-left: auto;
        margin-right: auto
    }
}

.footer-logo {
    line-height: 30px;
    font-size: 24px;
    font-weight: bold;
    font-family: "Concourse", "Avenir", Helvetica, sans-serif;
    margin-bottom: 25px
}

@media (min-width: 50em) {
    .footer-logo {
        float: left
    }
}

@media (min-width: 50em) {
    .footer-nav {
        float: right
    }
}

.footer-list {
    font-size: 16px;
    line-height: 25px;
    list-style: none;
    margin-bottom: 25px
}

@media (min-width: 50em) {
    .footer-list {
        line-height: 30px;
        font-size: 18px;
        float: left;
        width: 165px;
        padding-right: 41px
    }
}

.footer a {
    color: #0B0C0C
}

.nav ul {
    list-style: none;
    overflow-x: scroll;
    white-space: nowrap;
    font-size: 0px
}

@media (min-width: 56.25em) {
    .nav ul {
        white-space: normal;
        overflow-x: initial
    }
}

.nav li {
    display: inline-block;
    line-height: 20px;
    font-size: 18px
}

.nav a:link,
.nav a:visited {
    text-decoration: none;
    display: block;
    color: #545454;
    padding: 15px 15px 15px;
    border-bottom: 5px solid #fff
}

@media (min-width: 37.5em) {

    .nav a:link,
    .nav a:visited {
        padding-top: 17px;
        padding-bottom: 20px
    }
}

.nav a:focus {
    position: relative;
    outline-offset: -3px
}

.nav a:hover {
    color: #0B0C0C
}

.nav a:active,
.nav a.nav-active:active {
    background-color: #F2F7F9
}

.nav a:active {
    background-color: #F2F7F9;
    border-color: #F2F7F9
}

.nav a.nav-active:active {
    border-color: #039BE5
}

.nav a.nav-active {
    font-weight: bold;
    color: #0B0C0C;
    border-bottom: 5px solid #039BE5
}

.articleList .articleList-articleTitle {
    margin-bottom: 15px
}

.articleList .articleList-articleTitle a:link,
.articleList .articleList-articleTitle a:visited {
    text-decoration: none;
    display: block;
    color: #039BE5
}

.articleList .articleList-articleTitle a:hover {
    color: #0277BD
}

.articleList .articleList-date {
    color: #545454;
    margin-bottom: 55px;
    font-size: 1rem;
    line-height: 1.25rem
}

@media (min-width: 37.5em) {
    .articleList .articleList-date {
        font-size: 1.125rem;
        margin-bottom: 75px
    }
}

.caseStudyList .caseStudyList-title {
    margin-bottom: 15px
}

.caseStudyList .caseStudyList-title a:link,
.caseStudyList .caseStudyList-title a:visited {
    text-decoration: none;
    display: block;
    color: #039BE5
}

.caseStudyList .caseStudyList-title a:hover {
    color: #0277BD
}

.caseStudyList .caseStudyList-meta {
    color: #545454;
    margin-bottom: 55px;
    font-size: 1rem;
    line-height: 1.25rem
}

@media (min-width: 37.5em) {
    .caseStudyList .caseStudyList-meta {
        font-size: 1.125rem;
        margin-bottom: 75px
    }
}

.subscribeForm {
    margin: 0 auto 25px
}

@media (min-width: 37.5em) {
    .subscribeForm {
        margin-bottom: 45px
    }
}

.subscribeForm-label {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    display: block;
    font-weight: 700;
    color: #6f777b
}

@media (min-width: 37.5em) {
    .subscribeForm-label {
        font-size: 22px;
        line-height: 20px
    }
}

@media (min-width: 37.5em) {
    .subscribeForm-field {
        display: flex
    }
}

.subscribeForm-email {
    display: block;
    -webkit-appearance: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    background-color: #F2F7F9;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.125rem;
    line-height: 1.25rem;
    padding: 15px;
    margin-bottom: 10px
}

.subscribeForm-email:focus {
    outline: 3px solid #ffd346
}

@media (min-width: 37.5em) {
    .subscribeForm-email {
        display: inline-block;
        max-width: 21em;
        margin-bottom: 0;
        font-size: 1.375rem
    }
}

.subscribeForm-button {
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    display: block;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.91px;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
    background: #0277BD;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 100%
}

.subscribeForm-button:focus {
    outline: 3px solid #ffd346
}

.subscribeForm-button:hover {
    background: #01579B;
    box-shadow: none
}

@media (min-width: 37.5em) {
    .subscribeForm-button {
        display: inline-block;
        width: auto;
        margin-left: 10px
    }
}

.comments #comment-editor {
    max-width: 620px;
    width: 100%;
    height: 250px;
    background: none;
    border: none;
}

.comments .create-comment .undo {
    display: none
}

.comments .current-comment .create-comment .undo {
    display: block
}


.comments-pager {
    font-size: 80%;
    text-align: center;
    width: auto;
    height: auto;
    line-height: normal;
    margin: 1em 0;
    float: none;
    display: block;
    clear: both;
    border: 1px solid #eee;
    padding: .5em 1em;
    overflow: hidden;
}

.first {
    margin-left: 0
}

.second {
    margin-left: 2%
}

.third {
    margin-left: 4%
}

.fourth {
    margin-left: 6%
}

.fifth {
    margin-left: 8%
}

.sixth {
    margin-left: 10%
}

.seventh {
    margin-left: 12%
}

.eighth {
    margin-left: 14%
}

.ninth {
    margin-left: 16%
}

.tenth {
    margin-left: 18%
}